---
layout: default
---
<section class="content">

      <!-- Small boxes (Stat box) -->
      <!--
      <div class="row">

        {% for category in site.categories %} 
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ category[0] | join: "/" }}</h3>

              <p>{{ category[1].size }}</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book-outline"></i>
            </div>
            <a href="{{ site.baseurl }}/#{{ category[0] }}" class="small-box-footer">查看 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
      -->
      <!-- /.row -->


	<div class="box box-default">
		<div class="box-body">

			<div class="posts">
			  {% for post in site.posts %}
			    <article class="post">

			      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <small style="padding-left:60px;">{{ post.date | date: "%Y-%m-%d" }}</small></h3>
		    		

			      <div class="entry">
			        {{ post.excerpt }}
			      </div>

			    </article>
			  {% endfor %}
			</div>
		</div>
	</div>
</section>
